export(MINDS_algorithm)
export(generate_data_mixed)
importFrom(BayesLogit,rpg)
importFrom(EDISON,rinvgamma)
importFrom(LaplacesDemon,rdirichlet)
importFrom(MASS,mvrnorm)
importFrom(abind,abind)
importFrom(mice,mice)
importFrom(mice,complete)
importFrom(psych,fa)
importFrom(psych,factor.scores)
importFrom(stats,cor)
importFrom(stats,dnorm)
importFrom(stats,kmeans)
importFrom(stats,median)
importFrom(stats,rbinom)
importFrom(stats,rmultinom)
importFrom(stats,rnorm)
importFrom(stats,runif)
